.toast {
  background: #d95c5c;
  width: fit-content;
  padding: 15px;
  font-size: 12px;
  border-radius: 5px;
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: top 1000ms;
}

.toast.active {
  top: 60px;
}

.toast-warning {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.success {
  background: #4bb543;
}
